*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00E165; /* (#001632) */
}

.container{
    width: 80%;
    margin:auto;
}

.d-flex{
    display:flex;
}

header{
    background-color: #001632;
}

.nav{    
    height:70px;
    justify-content: space-between;
    align-items: center;
}

ul li{
    display: flex;
    justify-content: center;
    align-content: center;    
    margin-right: 40px; 
    padding: 10px;   
}

ul li a{
    text-decoration: none;
    color: white;
    text-align: center;
}

ul li.active{
/*     border-radius: 30px;
    background-color: #00E165; */
    border-bottom: 2px solid #00E165;
}

ul li.active a{
    color: #00E165;
}

#btn{
    border: 2px solid #00E165;
    border-radius: 10px;
    background-color: #001632;
    color: #00E165;
    padding: 10px;
}

.content h1{
    margin-top: 40px;
    margin-bottom: 40px;
}

/* UTENTI */

.users-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.row.users{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-basis: 200px;
    max-width: 200px;
    padding: 20px;
    margin: 10px 20px;
    height: 360px;
    background: #001632;
    text-align: center;
}

.user img {
    height: 160px;
    width: 160px;
}

.user h3 {
    margin: 20px 0;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}

.user span.gender {
    color: grey;
    font-size: 20px;
}

.user span.year {
    color: grey;
}

.user a{
    margin-top: 5px;
    text-decoration: none;
    color: red;
}

